<p style="color: green"><%= notice %></p>
<p style="color: red"><%= alert %></p>
<%= form_with url:"/Diagnosis" do |form| %>
<div class="container">
<div class="row">
<div class="col-md-12">
<h1>Diagnosis</h1>
</div>
</div>
<div class="row">
<div class="col-md-12">
<h2>Choose body part</h2>
</div>
</div>
<div class="row">
<div class="col-md-12">
<select id="part">
<% @symptoms.each do |symptom| %>
<option value="<%= symptom['code'] %>">
<%= symptom['name'] %>
</option>
<% end %>

<%= form.hidden_field :bodyPart %>
</div>
<div>
</div>
<div class="row">
<div class="col-md-12">
<h2>Choose symptom</h2>
</div>
</div>
<div hidden="hidden" id ="hide" class="row">
<div  class="col-md-12">
<%= form.select :symptom, id:"" %>
</div>
<div class ="col-md-12">
<%= form.submit "Submit" %>
</div>
</div>
<div class="row">
<div class="col-md-12">

</div>
</div>
</div>

<% end %>
<script>
$(document).ready(function(){

$("#part").change(function(){

var part = $(this).val();
$("#bodyPart").val(part);
$.ajax({
url: "https://www.moja-diagnoza.si/api/v1/symptoms/bodypart/",
type: "GET",
data: {code: part},
success: function(data){
  var options = '';
  data = data[0];
  data = data['symptoms'];
  for (var i = 0; i < data.length; i++) 
  {
    options += '<option value="' + data[i]['title'] + '">' + data[i]['title'] + '</option>';
  }
  $("#hide").removeAttr('hidden');
  $("#symptom").html(options);
}
});
});
});
</script>

