<p style="color: green"><%= notice %></p>
<p style="color: red"><%= alert %></p>
<%= link_to "Doctor", "/Doctor" %>
<%= form_with url:"/Diagnosis" do |form| %>
<div class="container">

<h1>Diagnosis</h1>
<div class="row">
<div class="col-md-6">
<h2>Choose body part</h2>

<select id="part" hidden="hidden">
<% @symptoms.each do |symptom| %>
<option value="<%= symptom['code'] %>">
<%= symptom['name'] %>
</option>
<% end %>

<%= form.hidden_field :AllBodyParts, id:"AllBodyParts" %>
<%= form.hidden_field :symptoms, id:"AllSymptoms"%>
<div id="front">
<%= inline_svg "male-front.svg" %>
</div>
<div id="back" hidden="hidden">
<%= inline_svg "male-back.svg" %>
</div>
<div class="btn btn-primary" onclick="changeSide()">Other side</div>
</div>
<div class="col-md-6">
<h2>Choose symptom</h2>

<div hidden="hidden" id ="hide" class="row">
<div class="d-inline">
<%= form.select :symptom, id:"" %>

<br>

<%= form.submit "Submit", class:"btn btn-primary" %>
<br>
<div onclick="addSymptom()" class="btn btn-primary">
  New symptom
</div>
</div>

</div>


<% end %>

</div>
</div>
<script>
var Number  = 0;
var symptoms = [];
var parts = [];
function addSymptom(){
  parts[Number] = $("#part").val();
  symptoms[Number] = $("#symptom").val();
  $("#AllSymptoms").val(symptoms);
  $("#AllBodyParts").val(parts);
  Number++;
  console.log(symptoms);
  console.log(parts);
}

$(document).ready(function(){



});
function ChangeSypmtoms(){

var part = $('#part').val();
$("#bodyPart").val(part);
$.ajax({
url: "https://www.moja-diagnoza.si/api/v1/symptoms/bodypart/",
type: "GET",
data: {code: part},
success: function(data){
  var options = '';
  data = data[0];
  data = data['symptoms'];
  for (var i = 0; i < data.length; i++) 
  {
    options += '<option value="' + data[i]['title'] + '">' + data[i]['title'] + '</option>';
  }
  $("#hide").removeAttr('hidden');
  $("#symptom").html(options);
}
});
}
function changeSelectedOption(selectBoxId, optionIndex) {
  var selectBox = document.getElementById(selectBoxId);
  selectBox.selectedIndex = optionIndex;
  ChangeSypmtoms();
}
function changeSide(){
  if($("#front").attr('hidden') == 'hidden'){
    $("#front").removeAttr('hidden');
    $("#back").attr('hidden', 'hidden');
  }else{
    $("#back").removeAttr('hidden');
    $("#front").attr('hidden', 'hidden');
  }
}
</script>

