<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Diagnosis</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="<%= root_path %>">Home</a>
      </li>
      <li class="nav-item">
      <%= link_to "Doctor", "/Doctor", class: "nav-item nav-link" %>
      </li>
    </ul>
  </div>
  <% if user_signed_in? %>
      <div class="nav-item dropdown" style="margin-right: 10px">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <%= current_user.email %>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
        </div>
      </div>
    <% else %>
      <%= link_to "Login", new_user_session_path, class: "nav-item nav-link" %>
      <%= link_to "Register", new_user_registration_path, class: "nav-item nav-link" %>
    <% end %>

  </div>

</nav>
<p style="color: green"><%= notice %></p>
<p style="color: red"><%= alert %></p>

<%= form_with url:"/Diagnosis" do |form| %>
<div class="container">

<h1>Diagnosis</h1>
<div class="row">
<div class="col-md-6">
<h2>Choose body part</h2>

<select id="part" hidden="hidden">
<% @symptoms.each do |symptom| %>
<option value="<%= symptom['code'] %>">
<%= symptom['name'] %>
</option>
<% end %>

<%= form.hidden_field :AllBodyParts, id:"AllBodyParts" %>
<%= form.hidden_field :symptoms, id:"AllSymptoms"%>
<div id="front">
<%= inline_svg "male-front.svg" %>
</div>
<div id="back" hidden="hidden">
<%= inline_svg "male-back.svg" %>
</div>
<div class="btn btn-primary" onclick="changeSide()">Other side</div>
</div>
<div class="col-md-6">
<h2>Choose symptom</h2>

<div hidden="hidden" id ="hide" class="row">
<div class="d-inline">
<%= form.select :symptom, id:"" %>
</div>
<div id="butts" class="d-flex flex-column" style="width: 100% !important;">
</div>
<br>
<div class="d-inline">
<%= form.submit "Submit", class:"btn btn-success" %>
<br>
<div onclick="addSymptom()" class="btn btn-primary">
  New symptom
</div>
</div>

</div>


<% end %>

</div>
</div>
<script>
var Number  = 0;
var symptoms = [];
var parts = [];
function addSymptom(){
  parts[Number] = $("#part").val();
  symptoms[Number] = $("#symptom").val();
  $("#AllSymptoms").val(symptoms);
  $("#AllBodyParts").val(parts);
  Number++;
  console.log(symptoms);
  console.log(parts);
}

$(document).ready(function(){



});
function ChangeSypmtoms(){

var part = $('#part').val();
$("#bodyPart").val(part);
$.ajax({
url: "https://www.moja-diagnoza.si/api/v1/symptoms/bodypart/",
type: "GET",
data: {code: part},
success: function(data){
  var options = '';
  var buttons = '';
  data = data[0];
  data = data['symptoms'];
  for (var i = 0; i < data.length; i++) 
  {
    options += '<option value="' + data[i]['title'] + '">' + data[i]['title'] + '</option>';
    buttons += '<div style="margin: 10px; width: 70%;" class="btn btn-primary" id="' + data[i]['title'] + '" onclick="changeSelectedSymptom(\'symptom\', ' + i + ')">' + data[i]['title'] + '</div>';
  }
  $("#hide").removeAttr('hidden');
  $("#symptom").html(options);
  $("#butts").html(buttons);
}
});
}
function changeSelectedOption(selectBoxId, optionIndex) {
  var selectBox = document.getElementById(selectBoxId);
  selectBox.selectedIndex = optionIndex;
  ChangeSypmtoms();
}
function changeSide(){
  if($("#front").attr('hidden') == 'hidden'){
    $("#front").removeAttr('hidden');
    $("#back").attr('hidden', 'hidden');
  }else{
    $("#back").removeAttr('hidden');
    $("#front").attr('hidden', 'hidden');
  }
}
function changeSelectedSymptom(selectBoxId, optionIndex) {
  var selectBox = document.getElementById(selectBoxId);
  selectBox.selectedIndex = optionIndex;

}
function ButtonColorChange(id){
  var button = document.getElementById(id);
  button.style.backgroundImage = "green";
}
</script>

